{% extends 'base.html' %}

{% block title %}Создание заявки{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Создание заявки</h1>
    <form method="post">
         <select name="tips_aplic" class="form-control" placeholder="Выбирите тип заявки" >
            {% for tip in tips_re %}
            <option>{{tip.tips}}</option>
            {% endfor %}
         </select>
        <textarea name="description" id="description" class="form-control" placeholder="Описание проблемы"></textarea>
        <textarea name="contacts" id="contacts" class="form-control" placeholder="Как с вами связаться?"></textarea>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}